{% extends 'base.html.twig' %}

{% block title %}DonsFinanciaire{% endblock %}

{% block body %}
    <h1>DonsFinanciaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dons_financiaire.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ dons_financiaire.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dons_financiaire.Description }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ dons_financiaire.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dons_financiaire_index') }}">back to list</a>

    <a href="{{ path('app_dons_financiaire_edit', {'id': dons_financiaire.id}) }}">edit</a>

    {{ include('dons_financiaire/_delete_form.html.twig') }}
{% endblock %}
